@import "settings";
@import "./mixins/breakpoint";
@import "./mixins/font-face";
@import "fonts";

.site-container__content {
  margin: 0 auto;
  // max-width: 2560px;
  max-width: 100vw;
  position: relative;
  overflow: hidden;
  // height: 928px;
  height: 100vh;
  background: rgba(45, 0, 223, 0.75);
  backdrop-filter: blur(35px);
  background-image: url("../img/Red\ circle.png");
  background-position: top left;
  background-repeat: no-repeat;
  display: flex;
  text-align: center;
  justify-content: center;
  transition: background-image 0.5s ease;

  &--second {
    background-image: none !important;
    transition: background-image 0.5s ease;
  }
}

.circle {
  &-first {
    position: absolute;
    left: -24%;
    top: -41%;
    z-index: 5;
    border-radius: 50%;
    width: 736.24px;
    height: 736.24px;
    background: linear-gradient(180deg, rgba(21, 44, 255, 0.99) 48.44%, rgba(211, 97, 230, 0.65) 100%);
    opacity: 0.8;
  }

  &-second {
    position: absolute;
    left: -32.5%;
    top: -54.3%;
    z-index: 4;
    border-radius: 50%;
    width: 979.83px;
    height: 979.83px;
    background: #ff44d6;
    opacity: 0.3;
  }

  &-third {
    position: absolute;
    left: -41.1%;
    top: -67.8%;
    z-index: 3;
    border-radius: 50%;
    width: 1230px;
    height: 1230px;
    background: #ff55ee;
    opacity: 0.2;
  }

  &-fourth {
    position: absolute;
    z-index: 5;
    border-radius: 50%;
    width: 813.46px;
    height: 813.46px;
    background: linear-gradient(180deg, rgba(21, 44, 255, 0.99) 48.44%, rgba(211, 97, 230, 0.65) 100%);
    opacity: 0.8;
    transition: opacity 0.5s ease;
  }

  &-fifth {
    position: absolute;
    z-index: 4;
    border-radius: 50%;
    width: 1082.59px;
    height: 1082.59px;
    background: #ff44d6;
    opacity: 0.3;
    transition: opacity 0.5s ease;

    &--active {
      opacity: 0.6 !important;
      transition: opacity 1s ease;
    }
  }

  &-sixth {
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    width: 1359px;
    height: 1359px;
    background: #ff55ee;
    opacity: 0.2;
    transition: opacity 0.5s ease;
  }

  &__group-first {
    display: none;
    transition: opacity 0.5s ease;
  }

  &__group-second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%), translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    transition: opacity 0.5s ease;
  }
}

.hidden-elements {
  z-index: 0 !important;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.notification {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 33%;
  z-index: 7;

  &__message {
    margin-top: 28px;
    color: #fff;
    font-family: "SquadaOne-Regular";
    font-size: 46px;
    letter-spacing: 0.2px;
    line-height: 49px;

    span {
      color: #15ffff;
    }
  }

  &__button {
    margin-top: 43px;
    padding-top: 9px;
    width: 168px;
    height: 68px;
    border: 5px solid #15ffff;
    border-radius: 22px;
    font-family: "Catamaran-ExtraBold";
    font-size: 25px;
    text-align: center;
    color: #fff;
    transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    cursor: pointer;

    &:hover {
      color: #150fed;
      background-color: #15ffff;
      opacity: 1;
      transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
      cursor: pointer;
    }

    &:active {
      color: #150fed;
      background-color: #15ffff;
      opacity: 1;
      transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
      cursor: pointer;
    }

    &:focus {
      outline: none;
      color: #150fed;
      background-color: #15ffff;
      opacity: 1;
      transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
      cursor: pointer;
    }
  }
}

.form__input {
  &-message {
    z-index: 12 !important;
    padding-bottom: 200px;
    opacity: 0;
    transition: opacity 0.1s linear;

    // @include sm-max {
    //   padding-right: 10% !important;
    //   margin-right: 20px !important;
    //   padding-bottom: 250px !important;
    // }

    &--active {
      opacity: 1;
      transition: opacity 0.1s linear;

      @include sm-max {
        display: none !important;
      }
    }
  }

  &-info {
    position: absolute;
    right: -20%;
    top: -214%;
    z-index: 12 !important;
    padding-top: 38px;
    padding-left: 40px;
    padding-right: 20px;
    width: 296px;
    height: 150px;
    background: #dc06ff;
    opacity: 0.75;
    backdrop-filter: blur(5px);
    border-radius: 38px;
    font-size: 19px;
    line-height: 24px;
    letter-spacing: 0.02em;
    opacity: 0.95;
    color: #fff;
  }

  &-triangle01 {
    position: absolute;
    right: 5.5%;
    top: -1%;
    z-index: 7;
    width: 10px;
    height: 10px;
    background: #dc06ff;
    opacity: 0.75;
    backdrop-filter: blur(5px);
    transform: rotate(45deg);
  }
}

.logo {
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 6;
  display: flex;

  &-info {
    margin-left: 8px;
    color: #fff;
    font-family: "SquadaOne-Regular";
    font-size: 26px;
    letter-spacing: 0.2px;

    span {
      color: #15ffff;
    }
  }
}

.contact-form {
  z-index: 6;
  margin-top: 100px;
  transition: opacity 0.5s ease;

  &__consultant {
    display: flex;
    align-items: center;

    @include sm-min {
      margin-left: 5%;
      width: 90%;
    }

    &-avatar {
      width: 126px;
      height: 122px;
      border-radius: 34px;
      box-shadow: 0px 5px #15ffff;
      overflow: hidden;

      img {
        object-fit:cover;
        height: 100%;
        width: 100%;
      }
    }

    &-info {
      margin-left: 28px;
      color: #fff;
      font-family: "SquadaOne-Regular";
      font-size: 46px;
      line-height: 49px;

      @include sm-min {
        width: 50%;
      }

      @include xs-min {
        margin-left: 10px;
        font-size: 36px;
        line-height: 40px;
      }

      span {
        color: #15ffff;
      }
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    margin-top: 56px;
  }

  &__field {
    position: relative;
    height: 68px;
    width: 560px;

    @include sm-min {
      margin-left: 5%;
      width: 90%;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__button {
    margin-top: 48px;
    width: 190px;
    height: 65px;
    opacity: 0.45;
    border: 5px solid #15ffff;
    border-radius: 24px;
    font-family: "Catamaran-ExtraBold";
    font-size: 24px;
    line-height: 39px;
    text-align: center;
    color: #667fff;
    transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
    pointer-events: none;

    &--active {
      color: #fff;
      opacity: 1;
      transition: color 0.3s ease, opacity 0.3s ease;
      cursor: pointer;
      pointer-events: auto;

      &:hover {
        color: #150fed;
        background-color: #15ffff;
        opacity: 1;
        transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
        cursor: pointer;
      }

      &:active {
        color: #150fed;
        background-color: #15ffff;
        opacity: 1;
        transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
        cursor: pointer;
      }

      &:focus {
        outline: none;
        color: #150fed;
        background-color: #15ffff;
        opacity: 1;
        transition: color 0.3s ease, background-color 0.3s ease, opacity 0.3s ease;
        cursor: pointer;
      }
    }
  }
}

.field {
  &__label {
    position: absolute;
    left: 0;
    top: 17px;
    z-index: 7;
    margin-left: 26px;
    font-family: "Catamaran-Medium";
    font-size: 22px;
    line-height: 36px;
    color: #15ffff;
    letter-spacing: 0.01em;

    @include sm-min {
      &--mobile {
        display: none;
      }
    }

    span {
      color: #ff56ff;
    }
  }

  &__input {
    padding-left: 29%;
    padding-right: 12%;
    height: 68px;
    width: 560px;
    opacity: 0.7;
    border-radius: 22px;
    background-color: #282dff;
    border: none;
    outline:none;
    font-family: "Catamaran-Medium";
    font-size: 22px;
    line-height: 36px;
    color: #fff;
    letter-spacing: 0.01em;
    transition: background-color 0.3s ease;

    @include sm-min {
      padding-left: 10%;
      padding-right: 60px !important;
      width: 100%;
    }

    &-valid ~ .field__input-icon--success {
      display: block;
    }

    &-invalid ~ .field__input-icon--error {
      display: block;
    }

    &-invalid {
      color: #ff15f5 !important;
      background-color: #872ad9 !important;
      transition: color 0.3s ease, background-color 0.3s ease;
    }

    &:hover {
      background-color: #494dff;
      transition: background-color 0.3s ease;
    }

    &:focus {
      opacity: 1;
      background-color: #0e05ff;
      transition: background-color 0.3s ease;
    }

    &-icon--success {
      position: absolute;
      right: 22px;
      top: 22px;
      z-index: 7;
      display: none;
    }

    &-icon--error {
      position: absolute;
      right: 22px;
      top: 22px;
      z-index: 7;
      display: none;
      cursor: pointer;
    }
  }

  &-question__input {
    padding-left: 5%;
    padding-right: 16%;
    padding-top: 10%;
    height: 168px;
    line-height: 27px;
    resize: none;

    @include sm-min {
      padding-left: 10%;
      padding-right: 60px !important;
      padding-top: 7%;
      width: 100%;
    }
  }
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 133px;
  height: 24px;

  @include sm-min {
    margin-left: 5%;
    width: 90%;
  }

  &__label {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding-top: 3px;
    padding-left: 40px;
    font-family: "Catamaran-Medium";
    font-size: 20px;
    line-height: 33px;
    color: #fff;
    cursor: pointer;
  }

  &__input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;

    &:focus {
      box-shadow: none !important;
    }
  }

  &__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    z-index: 1;
    display: block;
    border: 3px solid #2150F8;
    width: 30px;
    height: 30px;
    background: #2150F8;
    opacity: 0.7;
    border-radius: 10px;
    transition: border 0.3s ease, background-color 0.3s ease;
  }

  &__label::after {
    content: "";
    position: absolute;
    left: 7px;
    top: 10px;
    z-index: 2;
    display: block;
    margin-right: 15px;
    width: 16px;
    height: 16px;
    background: #35feff;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &__input:checked + &__label {
    color: #2dffe4;
    transition: opacity 0.3s ease;
  }

  &__input:checked + &__label::after {
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  &__input:hover + &__label::before {
    border: 3px solid #2dffe4;
    transition: border 0.3s ease;
  }

  &__input:focus + &__label::before {
    border: 3px solid #2dffe4;
    transition: border 0.3s ease;
  }

  &__input:hover + &__label {
    color: #2dffe4;
  }

  &__input:focus + &__label {
    color: #2dffe4;
  }
}

.btn__close {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 6;
  width: 44px;
  height: 44px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include sm-min {
    right: 15px;
    top: 17px;
  }

  #btn__close:hover {
    rect {
      fill: #ff56ff;
      transition: fill 0.2s ease;
    }
  }

  #btn__close:active {
    rect {
      fill: #ff56ff;
      transition: fill 0.2s ease;
    }
  }

  &:focus {
    outline: none;
    rect {
      fill: #ff56ff !important;
      transition: fill 0.2s ease;
    }
  }
}

#btn__close {
  margin-top: -16px;
  margin-left: -22px;

  rect {
    fill: #3c40ff;
    transition: fill 0.2s ease;
  }
}
